.elementor-1407 .elementor-element.elementor-element-74ad2458>.elementor-container {
    max-width: 1200px;
}

.elementor-1407 .elementor-element.elementor-element-74ad2458:not(.elementor-motion-effects-element-type-background),
.elementor-1407 .elementor-element.elementor-element-74ad2458>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F68A0E;
}

.elementor-1407 .elementor-element.elementor-element-74ad2458>.elementor-background-overlay {
    background-color: #FF8800;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-74ad2458 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 78px 0px 78px 0px;
}

.elementor-1407 .elementor-element.elementor-element-50f637a1 .elementor-heading-title {
    color: #ffffff;
    font-family: "Nunito", Sans-serif;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.elementor-1407 .elementor-element.elementor-element-50f637a1>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-1407 .elementor-element.elementor-element-162e578a {
    text-align: left;
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 1em;
    line-height: 1.7em;
}

.elementor-1407 .elementor-element.elementor-element-1ea91d2e {
    text-align: left;
}

.elementor-1407 .elementor-element.elementor-element-1ea91d2e .elementor-heading-title {
    color: #ffffff;
    font-family: "Nunito", Sans-serif;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.elementor-1407 .elementor-element.elementor-element-1ea91d2e>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(11px/2);
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(11px/2);
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(11px/2);
    margin-left: calc(11px/2);
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-11px/2);
    margin-left: calc(-11px/2);
}

body.rtl .elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-11px/2);
}

body:not(.rtl) .elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-11px/2);
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-icon i {
    color: #ffffff;
    transition: color 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-icon svg {
    fill: #ffffff;
    transition: fill 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-item>a {
    font-family: "Montserrat", Sans-serif;
    font-size: 1em;
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-text {
    color: #ffffff;
    transition: color 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-6e8a707a .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #ffab00;
}

.elementor-1407 .elementor-element.elementor-element-8d0f5ef {
    text-align: left;
}

.elementor-1407 .elementor-element.elementor-element-8d0f5ef .elementor-heading-title {
    color: #ffffff;
    font-family: "Nunito", Sans-serif;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.elementor-1407 .elementor-element.elementor-element-8d0f5ef>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(11px/2);
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(11px/2);
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(11px/2);
    margin-left: calc(11px/2);
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-11px/2);
    margin-left: calc(-11px/2);
}

body.rtl .elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-11px/2);
}

body:not(.rtl) .elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-11px/2);
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-icon i {
    color: #ffffff;
    transition: color 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-icon svg {
    fill: #ffffff;
    transition: fill 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-item>a {
    font-family: "Montserrat", Sans-serif;
    font-size: 1em;
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-text {
    color: #ffffff;
    transition: color 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-ac8f9c7 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #ffab00;
}

.elementor-1407 .elementor-element.elementor-element-5dda1f5f {
    text-align: left;
}

.elementor-1407 .elementor-element.elementor-element-5dda1f5f .elementor-heading-title {
    color: #ffffff;
    font-family: "Nunito", Sans-serif;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.elementor-1407 .elementor-element.elementor-element-5dda1f5f>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-1407 .elementor-element.elementor-element-3032f357 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 18px;
    --grid-column-gap: 8px;
    --grid-row-gap: 0px;
}

.elementor-1407 .elementor-element.elementor-element-3032f357 .elementor-widget-container {
    text-align: center;
}

.elementor-1407 .elementor-element.elementor-element-3032f357 .elementor-social-icon {
    background-color: #000000;
    --icon-padding: 0.6em;
}

.elementor-1407 .elementor-element.elementor-element-3032f357 .elementor-social-icon i {
    color: #ffffff;
}

.elementor-1407 .elementor-element.elementor-element-3032f357 .elementor-social-icon svg {
    fill: #ffffff;
}

.elementor-1407 .elementor-element.elementor-element-3032f357 .elementor-social-icon:hover {
    background-color: #ffffff;
}

.elementor-1407 .elementor-element.elementor-element-3032f357 .elementor-social-icon:hover i {
    color: #ffab00;
}

.elementor-1407 .elementor-element.elementor-element-3032f357 .elementor-social-icon:hover svg {
    fill: #ffab00;
}

.elementor-1407 .elementor-element.elementor-element-138196e .elementor-icon-list-icon i {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-138196e .elementor-icon-list-icon svg {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-138196e {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-1407 .elementor-element.elementor-element-138196e .elementor-icon-list-text {
    color: #FFFFFF;
    transition: color 0.3s;
}

.elementor-1407 .elementor-element.elementor-element-bc90cb8 {
    text-align: center;
}

.elementor-1407 .elementor-element.elementor-element-bc90cb8 .elementor-heading-title {
    font-size: 20px;
    text-transform: capitalize;
}

@media(max-width:1024px) {
    .elementor-1407 .elementor-element.elementor-element-74ad2458 {
        padding: 4em 4em 4em 4em;
    }
    .elementor-1407 .elementor-element.elementor-element-3032f357 .elementor-widget-container {
        text-align: left;
    }
}

@media(max-width:767px) {
    .elementor-1407 .elementor-element.elementor-element-74ad2458 {
        padding: 0em 0em 0em 0em;
    }
    .elementor-1407 .elementor-element.elementor-element-7c3359a7 {
        width: 50%;
    }
    .elementor-1407 .elementor-element.elementor-element-7c3359a7>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }
    .elementor-1407 .elementor-element.elementor-element-50f637a1 {
        text-align: center;
    }
    .elementor-1407 .elementor-element.elementor-element-50f637a1 .elementor-heading-title {
        font-size: 12px;
    }
    .elementor-1407 .elementor-element.elementor-element-162e578a {
        text-align: center;
    }
    .elementor-1407 .elementor-element.elementor-element-3c0e6e08 {
        width: 50%;
    }
    .elementor-1407 .elementor-element.elementor-element-3c0e6e08>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }
    .elementor-1407 .elementor-element.elementor-element-1ea91d2e {
        text-align: center;
    }
    .elementor-1407 .elementor-element.elementor-element-1ea91d2e .elementor-heading-title {
        font-size: 11px;
    }
    .elementor-1407 .elementor-element.elementor-element-1f0236b {
        width: 50%;
    }
    .elementor-1407 .elementor-element.elementor-element-1f0236b>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }
    .elementor-1407 .elementor-element.elementor-element-8d0f5ef {
        text-align: center;
    }
    .elementor-1407 .elementor-element.elementor-element-8d0f5ef .elementor-heading-title {
        font-size: 11px;
    }
    .elementor-1407 .elementor-element.elementor-element-3620adc1>.elementor-element-populated {
        padding: 2em 2em 2em 2em;
    }
    .elementor-1407 .elementor-element.elementor-element-5dda1f5f {
        text-align: center;
    }
    .elementor-1407 .elementor-element.elementor-element-3032f357 .elementor-widget-container {
        text-align: center;
    }
}

@media(min-width:768px) {
    .elementor-1407 .elementor-element.elementor-element-7c3359a7 {
        width: 28.833%;
    }
    .elementor-1407 .elementor-element.elementor-element-3c0e6e08 {
        width: 21.125%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1407 .elementor-element.elementor-element-7c3359a7 {
        width: 60%;
    }
    .elementor-1407 .elementor-element.elementor-element-3c0e6e08 {
        width: 40%;
    }
    .elementor-1407 .elementor-element.elementor-element-1f0236b {
        width: 40%;
    }
    .elementor-1407 .elementor-element.elementor-element-3620adc1 {
        width: 40%;
    }
}