.elementor-1380 .elementor-element.elementor-element-611200bd>.elementor-container {
    max-width: 1400px;
}

.elementor-1380 .elementor-element.elementor-element-611200bd>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1380 .elementor-element.elementor-element-611200bd:not(.elementor-motion-effects-element-type-background),
.elementor-1380 .elementor-element.elementor-element-611200bd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F68A0E;
}

.elementor-1380 .elementor-element.elementor-element-611200bd {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #efefef;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-611200bd>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1380 .elementor-element.elementor-element-39690f5>.elementor-widget-container {
    margin: 10px 10px 10px 10px;
}

.elementor-1380 .elementor-element.elementor-element-11dc3633>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-container {
    height: 80px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a {
    font-size: 24px;
    color: #FFFFFF;
    padding: 0px 15px 0px 15px;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a:hover {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a:focus {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a:active {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li:hover>a {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li.current-menu-item>a {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li.current-menu-ancestor>a {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
    color: #F68A0E;
    fill: #F68A0E;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
    color: #F68A0E;
    fill: #F68A0E;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    font-size: 15px;
    padding: 15px 15px 15px 15px;
    color: #F68A0E;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    color: #707070;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
    color: #707070 !important;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-submenu-panel {
    padding: 15px 0px 15px 0px;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel {
    border-radius: 0px 0px 0px 0px;
    min-width: 220px;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-hamburger {
    float: right;
    width: 68px;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: #FFFFFF;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-hamburger>.ekit-menu-icon {
    color: #FFFFFF;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-hamburger:hover>.ekit-menu-icon {
    color: rgba(0, 0, 0, 0.5);
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-close {
    color: #F68A0E;
}

.elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-close:hover {
    color: rgba(0, 0, 0, 0.5);
}

.elementor-1380 .elementor-element.elementor-element-1952f3b8 .elementor-button {
    font-family: "Nunito", Sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 171, 0, 0);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #ffab00;
    border-radius: 0px 0px 0px 0px;
}

.elementor-1380 .elementor-element.elementor-element-1952f3b8 .elementor-button:hover,
.elementor-1380 .elementor-element.elementor-element-1952f3b8 .elementor-button:focus {
    color: #ffffff;
    background-color: #ffab00;
    border-color: #ffab00;
}

.elementor-1380 .elementor-element.elementor-element-1952f3b8 .elementor-button:hover svg,
.elementor-1380 .elementor-element.elementor-element-1952f3b8 .elementor-button:focus svg {
    fill: #ffffff;
}

@media(max-width:1024px) {
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-container {
        max-width: 350px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a {
        color: #000000;
        padding: 10px 15px 10px 15px;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        padding: 15px 15px 15px 15px;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-hamburger {
        padding: 8px 8px 8px 8px;
        width: 45px;
        border-radius: 3px;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-menu-close {
        padding: 8px 8px 8px 8px;
        margin: 12px 12px 12px 12px;
        width: 45px;
        border-radius: 3px;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-nav-logo>img {
        max-width: 160px;
        max-height: 60px;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-nav-logo {
        margin: 5px 0px 5px 0px;
        padding: 5px 5px 5px 5px;
    }
}

@media(min-width:768px) {
    .elementor-1380 .elementor-element.elementor-element-11381a28 {
        width: 14.367%;
    }
    .elementor-1380 .elementor-element.elementor-element-11dc3633 {
        width: 69.014%;
    }
    .elementor-1380 .elementor-element.elementor-element-8b87f63 {
        width: 16.615%;
    }
}

@media(max-width:767px) {
    .elementor-1380 .elementor-element.elementor-element-11381a28 {
        width: 30%;
    }
    .elementor-1380 .elementor-element.elementor-element-11dc3633 {
        width: 20%;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
        color: #F68A0E;
        fill: #F68A0E;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
        color: #F68A0E;
        fill: #F68A0E;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        color: #F68A0E;
    }
    .elementor-1380 .elementor-element.elementor-element-a5a9b61 .elementskit-nav-logo>img {
        max-width: 120px;
        max-height: 50px;
    }
    .elementor-1380 .elementor-element.elementor-element-8b87f63 {
        width: 20%;
    }
    .elementor-1380 .elementor-element.elementor-element-1952f3b8>.elementor-widget-container {
        margin: 10px 10px 10px 10px;
    }
}